.shopping-cart {
	position: absolute;
	background-color: #00df00;
	color: #ffffff;
	font-weight: bold;
	left: 80%;
	top: 30px;
}
.shopping-cart:active {
	background-color: #007f00;
	color: #dfdfdf;
}
.product-w {
	position: relative;
	display: block;
	left: 0px;
	right: 0px;
	height: 105px;
}
.product {
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 0px;
	background-color: rgb(230, 230, 230);
	border-radius: 10px;
}
.product-image-w {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 90px;
	height: 90px;
	border-radius: 5px;
	background-color: #ffffff;
}
.product-image-align {
	display: inline-block;
	height: 90px;
	vertical-align: middle;
}
.product-image {
	display: inline-block;
	vertical-align: middle;
	left: 0px;
	width: 90px;
	border-radius: 5px;
}
.product-name {
	position: absolute;
	margin: 0px;
	left: 100px;
	top: 5px;
}
.product-desc {
	position: absolute;
	top: 25px;
	left: 100px;
	right: 20%;
	bottom: 5px;
}
.product-price {
	position: absolute;
	margin: 0px;
	left: 80%;
	top: 5px;
}
