body {
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
}
button {
	border-radius: 5px;
	padding: 5px;
	padding-bottom: 3px;
	border: 2px solid rgba(0, 0, 0, 0.25);
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.top {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100px;
	background-color: #00009f;
	padding: 5px;
}
.top_fade {
	position: absolute;
	top: 100px;
	left: 0px;
	right: 0px;
	height: 10px;
	background-image: -webkit-linear-gradient(#00009f, #0000ff, #0000ff);
}
.left {
	position: absolute;
	top: 110px;
	left: 0px;
	bottom: 0px;
	width: 20%;
	overflow: auto;
	background-color: #0000ff;
	padding: 5px;
}
.right {
	position: absolute;
	top: 110px;
	right: 0px;
	bottom: 0px;
	width: 20%;
	overflow: auto;
	background-color: #0000ff;
	padding: 5px;
}
.content {
	position: absolute;
	top: 110px;
	bottom: 0px;
	left: 20%;
	right: 20%;
	overflow: auto;
	background-color: #ffffff;
	color: #000000;
	box-shadow: 0px 0px 15px #00009f;
	padding: 5px;
}