
body {
	font-family: Arial, Helvetica, sans-serif;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.active-cell {
	position: absolute;
	border: 2px solid #85d2ff;
	z-index: 1;
}

div.drag-h {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 5px;
	z-index: 4;
	transition: 0.2s background-color;
	transition-timing-function: ease-in-out;
	cursor: w-resize;
}

div.drag-v:hover, div.drag-h:hover {
	background-color: #85d2ff;
}

div.drag-v {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 5px;
	z-index: 4;
	transition: 0.2s background-color;
	transition-timing-function: ease-in-out;
	cursor: s-resize;
}

div.cell-content-w {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}

div.cell-content {
	position: absolute;
	margin: 0;
	bottom: 1px;
	right: 0px;
	left: 0;
	text-align: center;
}

div.cell-content-s {
	position: absolute;
	margin: 0;
	right: 0px;
	left: 0;
	text-align: center;
}

div.cell {
	position: absolute;
	outline: 1px solid #e7e7e7;
	background-color: #ffffff;
	width: 99px;
	height: 19px;
	overflow: visible;
}

div.grid-container-large {
	position: absolute;
	left: -1px;
	top: 100px;
	right: 10px;
	bottom: 20px;
}

div.grid-i {
	position: absolute;
	left: -1px;
	top: -1px;
	bottom: 0px;
	right: 0px;
}

div.grid-o {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	border: 1px solid #cfcfcf;
	z-index: 1;
	overflow: auto;
}

div.grid-corner {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #f9f9f9;
	outline: 4px solid #bfbfbf;
}

div.grid-row-colomn {
	position: absolute;
	background-color: #fcfcfc;
	color: #707070;
	outline: 1px solid #cfcfcf;
	cursor: col_resize;
}
