
div.ui-top {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 100px;
	border-bottom: 1px solid #cfcfcf;
}

div.ui-fx-o {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 25px;
	border-top: 1px solid #cfcfcf;
}

div.ui-fx-l {
	position: absolute;
	left: 38px;
	bottom: 3px;
	top: 3px;
	width: 1px;
	background-color: #cfcfcf;
}

img {
	position: absolute;
	top: 2.5px;
	left: 9px;
	opacity: 50%;
}
